<nav>
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/student/">Student List</a></li>
        <li><a href="http://localhost:3000/student/portfolio">My Portfolio</a></li>
        <li><a href="http://localhost:3000/student/resume">My Resume</a></li>
    </ul>
</nav>