<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <h1>My Resume</h1>
    </header>
    <%- include('./Partials/nav.ejs')%>
    <div id="Group1">
        <img src="/images/FB_IMG_1613226308170.jpg" alt="หนูรัตน์" width="300" height="300">
        <h2>Personal Infomation</h2>
        <p>Email : Patcharapon.k@kkumail.com</p>
        <p>Phone : 098-875-8842 </p>
        <p>Address : 184 หมู่ที่ 27, อำเภอเมืองขอนแก่น ขอนแก่น 40000</p>
    </div>
    <div id="Group2">
        <h2>Project Experience</h2>
        <div class="pj">
            <p><b>Structured Programming for Information Technology	And Inspiration in IT Career : </b>Comepeerapan Skin Advisor (โปรแกรมแนะนำการลงสกินแคร์ตามสภาพผิว)</p>
        </div>
        <div class="pj">
            <p><b>Object Oriented Concepts and Programming And Computer Organization and Architecture : </b>Shining (โปรแกรมควบคุมหลอดไฟโต๊ะเครื่องแป้ง)</p>
        </div>
        <div class="pj">
            <p><b>Human-Computer Interaction : </b>ShopCare (แอพพลิเคชันขายสกินแคร์และเครื่องสำอางค์)</p>
        </div>
        <div class="pj">
            <p><b>Introduction to Computer Networking : </b>HaveChat (โปรแกรมคุยแชท)</p>
        </div>
        <div class="pj">
            <p><b>Web Application Programming And Database Analysis and Design : </b>Artisan Hotel (เว็บแอพพลิเคชัน จองห้องพักโรงแรม)</p>
        </div>
        <div class="pj">
            <p><b>Web Design Technologies : </b>SynisAccessory (เว็บแอพพลิเคชัน ดูเครื่องประดับ)</p>
        </div>
        <div class="pj">
            <p><b>Basics of Data Engineering : </b>หัวข้อการกล่าวถึงเมมเบอร์แต่ละคนใน BLACKPINK</p>
        </div>
        <div class="pj">
            <p><b>Information and Communication Technology Security : </b>LockPhish</p>
        </div>
        <div class="pj">
            <p><b>Mobile Device Programming : </b>Vantic (แอพพลิเคชัน จองตั๋วรถตู้)</p>
        </div>
        <div class="pj">
            <p><b>Java Web Application Development : </b>Mugic (เว็บแอพพลิเคชันรวบรวมข้อมูลเพลง)</p>
        </div>
        <div class="ref">
            <p>July 2021 - Present<br>
            Developed and maintained web applications using HTML, CSS, and JavaScript. <br>
            </p>
        </div>
    </div>
    <div id="Group3">
        <h2>Education</h2>
        <div class="ed">
            <p><b> Junior and high school - </b>Chaiyabhum Bhakdeechumphon School</p>
        </div>
        <div class="ed">
            <p><b> Bachelor of Science Program in Information Technology - </b>Khon Kaen University</p>
        </div>
        <p>Graduated in May 2025</p>
    </div>
</body>
</html>